<!DOCTYPE html>
<html lang="fr-FR">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, height=device-height, shrink-to-fit=no"/>
        <title>{% block title %}  {% endblock %}</title>


        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="assets/css/reset.css">
            <link rel="stylesheet" type="text/css" href="assets/css/style.css">
            <link rel="stylesheet" type="text/css" href="assets/js/jq-flash/flash.css">
            <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        {% endblock %}


        {% block scripts %}
            <script rel="script" src="assets/js/jquery-3.2.1.min.js"></script>
            <script rel="script" src="assets/js/jq-flash/flash.js"></script>
            <script rel="script" src="assets/js/arrayManager.js";></script>
            <script rel="script" src="assets/js/main.js"></script>
        {% endblock %}
    </head>

    {%  block body %}
    <body>
    {% block dataDisplay %}
        <div class="loader"></div>
        {% block numberForm %}
            <div class="formNum">
                <form action="" method="POST">
                    <input class="search" name="num" placeholder="Your number (6 decimals)" type="text">
                    <input type="submit" value="submit" class="submit">
                </form>
                <a class="help" href="help" >HELP</a>
            </div>

        {% endblock %}

        <div class="container">

        </div>
    {% endblock %}
    {% endblock %}
    </body>
</html>
