<!DOCTYPE html>
<html lang="fr-FR">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, height=device-height, shrink-to-fit=no"/>
        <link rel="stylesheet" type="text/css" href="assets/css/index.css">
        <title>{% block title %}{% endblock %}</title>


        {% block stylesheets %}

    {% endblock %}


        {% block scripts %}
            <script src="jquery.js"></script>
        {% endblock %}
    </head>

    <body>
        <header>
        {% include "modules/flash.twig" with {"flash": flash} %}
        {% block body %}

            {% block navBar %}
            <div class="nav-bar">
                    <a href="{{ path_for('home') }}">liens vers la page d'acceuil</a>
                    <a href="{{ path_for('look') }}">liens vers le look simple</a>
                    <a href="/smartlookup">liens vers le look simple</a>
            </div>
        {% endblock %}
        </header>

    {% block dataDisplay %}



        {% block numberForm %}
            <div class="formNum">
            <form action="" method="POST">
                <label>Entrez un nombre</label>
                <input type="text" name="num" autocomplete="off"/>
                <button type="submit">SUBMIT</button>
            </form>
            </div>
        {% endblock %}

        <div class="block">
                <ul>
                    {% for line in data %}
                        <li>{{ line }}</li>
                    {% endfor %}
                 </ul>
        </div>
    {% endblock %}

    {% endblock %}
    </body>
</html>
