<!DOCTYPE html>
<html lang="fr-FR">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, height=device-height, shrink-to-fit=no"/>
        <title>{% block title %}  {% endblock %}</title>


        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="assets/css/reset.css">
            <link rel="stylesheet" type="text/css" href="assets/css/style.css">
            <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    {% endblock %}


        {% block scripts %}
            <script rel="script" src="assets/js/jquery-3.2.1.min.js"></script>
            <script rel="script" src="assets/js/jq-flash/flash.js"></script>
    {% endblock %}
    </head>

    <body>
    {% if flash.failure %}
        <div class="flash  flash-folded flash-failure">
            <p>{{ flash.failure }}</p>
            <button class="flash-close materialShadow">&#x2716;</button>
        </div>
    {% endif %}
        <header>
        {% include "modules/flash.twig" with {"flash": flash} %}
            {% block body %}
        </header>

    {% block dataDisplay %}



        {% block numberForm %}

            <div class="formNum">
                <form action="" method="POST">
                    <input id="search" name="num" placeholder="Your number (6 decimals)" class="form" type="text">
                    <select name="type">
                        <option value="classic" selected>Classic</option>
                        <option value="smart" selected>Smart</option>
                    </select>
                    {#<input class="submit" type="submit">#}
                    <input type="button" value="submit" class="submit">
                </form>
            </div>

        {% endblock %}

        {% if data != null %}
        <div class="container">
            <table>
                <div>
                        {% for line in data %}
                    <tr>
                        <td>{{ line[0] }}</td>
                        <td>{{ line[1] }}</td>
                        <td>{{ line[2] }}</td>
                    </tr>
                        {% endfor %}
                </div>
            </table>
        </div>
        {% endif %}

    {% endblock %}

    {% endblock %}
    </body>
</html>
