{% extends "modules/layout.twig" %}

{% block title %}Lookup{% endblock %}

{% block body %}
<h1>Inverter de Plouffe</h1>
<form action="" method="POST">
    <label>Entrez un nombre</label>
    <input type="text" name="num" autocomplete="off"/>
    <button type="submit">SUBMIT</button>
</form>
    {% block datalist %}
        {{ data }}
    {% endblock %}
{% endblock %}