{% extends "modules/layout.twig" %}

{% block title %}Look Up{% endblock %}

{#{% block stylesheets %}#}
    {#{{ parent() }}#}
{#{% endblock %}#}

{#{% block scripts %}#}
    {#{{ parent() }}#}
{#{% endblock %}#}

{% block body %}

<h1>LookUp</h1>
    {{ parent() }}

{% endblock %}
