{% extends "modules/layout.twig" %}

{% block title %}Smart LookUp{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}

    <h1>Smart LookUp</h1>
    {{ parent() }}

{% endblock %}