{% extends "modules/layout.twig" %}

{% block title %}Inverter{% endblock %}

{% block body %}
    <h1>Inverter de Plouffe</h1>
    {% block navBar %}
        {{ parent() }}
    {% endblock %}
{% endblock %}
